@charset "utf-8";
html {
  font-size: 16px;
}
/* 「*」はユニバーサルセレクタ（すべての要素を対象にするセレクタ）でbox-sizing: border-box;を指定 */
/* この指定（してい）はborderとpaddingをボックスサイズ（widthとheight）の中に含めて算出するので、スタイリングがしやすい*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: normal; /*ブラウザが自動的に行間を決める*/
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  background: url(../img/sakura_meguro.jpg); /*01-05chg*/
  background-size: cover;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}
/*******************************************************/
/* オープニングシャッター (opening shutter)              */
/*******************************************************/
.shutter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  margin: 0em;
  padding: 0em;
  background-color: #1e1e1e;
  animation: byeShutter 2.5s forwards;
}
.shutter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  margin: auto;
  background-color: #fff;
  animation: shutterOpen 2.25s forwards;
}
@keyframes byeShutter {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes shutterOpen {
  0% {
    width: 0;
    height: 0.05em;
  }
  50% {
    width: 100%;
    height: 0.05em;
  }
  90% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
/*******************************************************/
/* ゲーム全体                                           */
/*******************************************************/
.wrapper {
  position: relative; /*相対位置*/
  /*すべての要素をbox-sizing:border-boxとしているので全て含めてmin-width:100vwに*/
  max-width: 100vw;
  /*すべての要素をbox-sizing:border-boxとしているので全て含めてmin-height:100dvhに*/
  /* iPhoneなどのモバイルブラウザでは、100vhがアドレスバーを含まない、あるいは含むなどの問題で、フッターが画面隠れてしまうことがある。100vhの代わりに 100dvh (Dynamic Viewport Height) を使うと、モバイルの動的なツールバーに対応できる。*/
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  padding-bottom: 23px; /*footer+paddingの高さ*/
  text-align: center;
  user-select: none;
}
/*******************************************************/
/* backボタン                                           */
/*******************************************************/
.back {
  text-align: left;
}
#btn99 {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1.5em;
  background: rgb(253, 4, 79);
  cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}
/* 01-04 add 疑似クラス*/
#btn99:hover {
  background: linear-gradient(
    rgba(255, 0, 0, 0.7) 0%,
    rgba(0, 0, 255, 0.7) 100%
  );
}
/*******************************************************/
/* ヘッダー                                             */
/*******************************************************/
header {
  margin-top: 20px;
  color: rgba(253, 4, 79, 0.7);
  font-size: 38px;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.65);
  text-align: center;
}
/*******************************************************/
/* おみくじボタン                                       */
/*******************************************************/
#btn1 {
  position: relative;
  margin: 20px auto;
  width: 200px;
  height: 400px;
  background-image: url(../img/omikuji.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: url(../img/zoro.png), auto;
}
#btn1:hover {
  animation: shaking 0.3s infinite;
}
@keyframes shaking {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}
#omikujiText {
  position: relative;
  margin: 10px auto;
  font-weight: 800;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.65);
  transition: 1s;
}
/*******************************************************/
/* フッター                                             */
/*******************************************************/
footer > p {
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin: 0px;
  padding: 1px;
  color: whitesmoke;
  font: 16px Rajdhani;
  text-align: center;
  background: rgba(1, 24, 31, 0.7);
}

/*******************************************************/
/* モバイル表示                                         */
/*******************************************************/
/*Media Query ... andの後はスペースが必要*/
@media screen and (max-width: 480px) {
  body {
    background-position: 50%0%;
    background-size: auto 1000px;
  }
  header {
    font-size: 30px;
  }
  #btn1 {
    width: 150px;
    height: 280px;
  }
  #omikujiText {
    margin: 60px0px;
    color: aquamarine;
  }
}
